*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header{
  background-color: #5F7470;
  color: white;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  border: 1px solid #D2D4C8;
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}